

<nav>
  <a routerLink="home">Home</a>
  &nbsp;
  <a routerLink="products">Products</a>
  &nbsp;
  <a routerLink="users">Users</a>
  &nbsp;
  <a routerLink="customers">Customer Module</a>
  &nbsp;
  <a routerLink="orders">Order Module</a>
  &nbsp;
  <a routerLink="login">Login Page</a>

</nav>


<!-- template referans ile value alma yöntemi -->
<select #langSelect (change)="translate.use(langSelect.value)">
  <option [selected]="'en'" [value]="lang" *ngFor="let lang of translate.getLangs()">
    {{lang}}
  </option>
</select>

<!-- dinamik value gönderdik -->
<!-- | translate ile sayfada translate işlemi yaparız. -->
<div>{{ 'HELLO' | translate:{value:'mert',deneme:'sdsad'} }}</div>

<!-- translate directive ile -->
<div [translate]="'HELLO'" [translateParams]="{value: 'world'}"></div>

<!-- translate directive ile işlem yapılmış -->
<div translate [translateParams]="{value: 'world'}">HELLO</div>



<button (click)="getLangValue()">Translate Instant Kullanımı</button>

<!-- uygulama genelinde görünmesi için appcomponent -->
<app-spinner></app-spinner>

<router-outlet></router-outlet>
