

<nav>
  <a routerLink="home">Home</a>
  &nbsp;
  <a routerLink="products">Products</a>
</nav>


<!-- template referans ile value alma yöntemi -->
<select #langSelect (change)="translate.use(langSelect.value)">
  <option [selected]="'en'" [value]="lang" *ngFor="let lang of translate.getLangs()">
    {{lang}}
  </option>
</select>

<!-- dinamik value gönderdik -->
<!-- | translate ile sayfada translate işlemi yaparız. -->
<div>{{ 'HELLO' | translate:{value:'mert'} }}</div>

<!-- translate directive ile -->
<div [translate]="'HELLO'" [translateParams]="{value: 'world'}"></div>

<!-- translate directive ile işlem yapılmış -->
<div translate [translateParams]="{value: 'world'}">HELLO</div>




<router-outlet></router-outlet>
